body{
    background-color: black;
    color: white;
    margin: 50px 30px;
}
.error {
     color: red;
 }

 .success {
     color: green;
 }
 .inpt_container{
    display: flex;
    gap: 20px;
 }
 .inpt{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 input{
    width: 250px;
    background-color: transparent;
    border: 0.5px solid grey;
    height: 25px;
    color: white;
 }
 .subimt_btn{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    width: 130px;
    height: 35px;
 }
 .message{
    margin-top:20px ;
 }
 #employeeList {
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .employee{
    display: flex;
    align-items: center;
    gap: 10px;
 }
 .employee_box{
    border: 1px solid black;
    display: flex;
    gap: 15px;
    padding: 0 10px;
    border: 1px solid white;
    border-radius: 10px;
    width: 500px;
 }
 .delete-btn{
    width: 150px;
    height: 40px;
    border-radius: 50px;
 }
 .initial_msg{
    color: grey;
 }